<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See HelpMe</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="check">
    <div class='display'>
        <div class='actions'>
            <div class='header'>                
                <a href="/dashboard" class="logout2">back to dashboard</a>
                <a href="/logout"  class="logout1">Logout</a>
            </div>
        </div>
        <h1 class="header2">Here is your HelpMe request:</h1>
        <h3>{%for message in get_flashed_messages()%}  {{message, " "}} {%endfor%}</h3>
        <div class='forms_a'>
            
            <div class='helpme_display'>
                <p class='label_a'>Title:</p>
                <p>{{one_helpme.title}}</p>
            </div>
            <div class='helpme_display'>
                <p class='label_a'>Location:</p>
                <p>{{one_helpme.location}}</p>
            </div>
            <div class='helpme_display'>
                <p class='label_a'>Description:</p>
                <p>{{one_helpme.description}}</p>
            </div>
            <a href="/helpmes/edit/{{one_helpme.id}}" class="editor">Edit</a>
            <a href="/helpmes/delete/{{one_helpme.id}}" class = "deletor">Delete</a>
        </div>

    </div>
</body>
</html>