<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class= 'header1' id="community_page_logout">
        <p class="community_welcome">Welcome to the Community Page!</p>
        <a href="/logout" class="logout_button">Logout</a>
    </div>
    <div class='actions'>
        <h3></h3>
    </div>

    <div class="dashboard_container">

        <div class="table_header">
    
            <h3 >Here are some Community Members you can help!</h3>
            <table class="all_jobs">
                <thead>
                    <th class="table_info">Title</th>
                    <th class="table_info">Location</th>
                    <th class="table_info">Help me please:</th>
                </thead>

                loop starts here:  get the data, display the data

                {% for helpme in get_all_helpmes %} 
                <tr>
                    <td class="table_info">{{helpme.title}}</td>
                    <td class="table_info">{{helpme.description}}</td>
                    <td class="table_info">{{helpme.location}}</td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
        <div class="table_header">
    
            <h3 >Here your HelpMe! requests: </h3>
            <table class="all_jobs">
                <thead>
                    
                    <th class="table_info">Title</th>
                    <th class="table_info">Location</th>
                </thead>

                {% for help in get_all_helpmes %}
                {%if help.user_id ==session["user_id"]~""%}
                    <tr>
                        <td class="table_info"><a href="/helpmes/show/{{help.id}}">{{help.title}}</a></td>
                        <td class="table_info">{{help.location}}</td>
                    </tr>
                    {%endif%}
                {% endfor %}                
            </table>
            <h3 ><a class="linkText" href="/new/helpme">List a HelpMe! </h3>
        </div>
    </div>
</body>
</html>