<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit HelpMe</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="create_edit_check">
    <div class='display'>
        <div class='actions'>
            <div class='header'>                
                <a href="/back" id="logout2">back to dashboard</a>
                <a href="/logout"  id="logout1">Logout</a>
            </div>
        </div>
        <h1 class="header2">Edit a HelpMe!</h1>
        <h3>{%for message in get_flashed_messages()%}  {{message, " "}} {%endfor%}</h3>
        <form action="/helpme/update/{{one_helpme.id}}" method='post' class='forms_a'>
            <div class='helpme_display'>
                <label for="title" class='label_a'>Title:</label>
                <input type="text" name='title' id='title' class='input_a'  value="{{one_helpme.title}}">
            </div>
            <div class='helpme_display'>
                <label for="location" class='label_a'>Location</label>
                <input type="text" name='location' id='location' class='input_a' value="{{one_helpme.location}}">
            </div>
            <div class='helpme_display'>
                <label for="description" class='label_a'>Description:</label>
                <input type="text" name='description' id='description' class='input_a' value="{{one_helpme.description}}">
            </div>
            <input type="submit" class='input_a' id='submit_a' value='Submit Changes'>
            <a href="/helpmes/delete/{{one_helpme.id}}" class = 'links'>Delete</a>
        </form>

    </div>
</body>
</html>