<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</head>

<body>
    
    <h1 class= 'header'>Welcome to Neighborly!</h1>
    <h3>{%for message in get_flashed_messages()%}  {{message}}   {%endfor%}</h3>
    <div class='container'>

        <div class='register'>
            <form action="/register" method='post' class='forms'>
                <h2>Register</h2>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password">
                <input type="submit" value='Submit' class='submit'>
            </form>
        </div>
        <div class='login'>
            <form action="/login" method='post' class='forms'>
                <h2>Login</h2>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <input type="submit" value='Submit' class='submit'>
            </form>
        </div>

    </div>
</body>

</html>